{{ define "main" }}
<div class="flex-container">

   <div class="background">
      <div class="background-img">

      </div>
   </div>
   <div class="section">
      <section>
         <div class="section-started">
            <h1 class="section-heading-curved">{{.Site.Data.personalData.Name}}</h1>
            <div class="typewriter">
               <div class="typewriter-text">{{.Site.Data.personalData.Position}}</div>
            </div>
            <br>
            <div class="summary-container">
               <span class="section-summary">{{.Site.Data.personalData.Summary}}</span>
            </div>
         </div>
      </section>
      <section>
         {{with .Site.Data.aboutMe}}
         <div class="section-started">
            <h1 class="section-heading">About Me </h1>
            <div class="subtitle">
               My Story
            </div>
            <br>
            <div class="summary-container">
               <span class="section-summary">{{.Summary}}
               </span>
            </div>
            <div class="info-list">
               <ul class="multi-column">
                  <li> <strong> <span class="info-list-title"> Age: </span> </strong> <span> {{.Age}} </span></li>
                  <li> <strong> <span class="info-list-title"> Residence: </span> </strong> <span> {{.Residence}}
                     </span></li>
                  <li> <strong> <span class="info-list-title">Freelance: </span> </strong> <span> {{.Freelance}} </span>
                  </li>
                  <li> <strong> <span class="info-list-title"> Address: </span> </strong> <span> {{.Address}} </span>
                  </li>
                  <li> <strong> <span class="info-list-title"> Phone: </span> </strong> <span> {{.Phone}} </span></li>
                  <li> <strong> <span class="info-list-title"> E-mail: </span> </strong> <span> {{.Email}}</span></li>
               </ul>
            </div>
         </div>
         {{end}}
      </section>
      <section>



         <div class="section-started">
            <h1 class="section-heading">Services </h1>
            <div class="subtitle">
               What I DO
            </div>
            <br>
            <table>
               {{range $count, $service :=.Site.Data.services.services}}

               {{if eq (mod $count 2) 0}}
               <tr>
                  {{end}}
                  <td class="service-cell">
                     <div class="service-icon">
                        <i class={{$service.Icon}}></i>
                     </div>
                     <div class="service-text">
                        {{$service.Name}}
                     </div>
                     <div class="service-summary">
                        {{$service.Summary}}
                     </div>
                  </td>

                  {{if eq (mod (add $count 1) 2) 0}}
               </tr>
               {{end}}
               {{end}}

            </table>
      </section>
      <section>
         <div class="section-started">
            <h1 class="section-heading">Experience </h1>
            <div class="subtitle">
               Working With
            </div>
            <br>
            <div class="button-container">
               <button class="scroll-button" onclick="plusDivs(-1,'experience')">❮</button>
               <button class="scroll-button" onclick="plusDivs(1,'experience')">❯</button>
            </div>
            <br>
            <div class="experience-container">
               {{range .Site.Data.experience.experience}}

               <div class="experience">
                  <div class="company-name">
                     {{.Name}}
                  </div>
                  <div class="status">
                     {{.Status}}
                  </div>
                  <div class="work-summary">
                     {{.Summary}}
                  </div>
               </div>
               {{end}}

            </div>

      </section>
      <section>
         <div class="section-started">
            <h1 class="section-heading">Education </h1>
            <div class="subtitle">
               Studied At
            </div>
            <br>
            <div class="button-container">
               <button class="scroll-button" onclick="plusDivs(-1, 'education')">❮</button>
               <button class="scroll-button" onclick="plusDivs(1,'education')">❯</button>
            </div>
            <br>
            <div class="education-container">

               <div class="education">
                  <div class="company-name">
                     Polynomial
                  </div>
                  <div class="status">
                     Present1
                  </div>
                  <div class="work-summary">
                     Currently a developer architect The web development process includes: web design, web content,
                     client-side /
                  </div>
               </div>
               <div class="education">
                  <div class="company-name">
                     Apli.AI
                  </div>
                  <div class="status">
                     Present2
                  </div>
                  <div class="work-summary">
                     Currently a developer architect
                  </div>
               </div>
               <div class="education">
                  <div class="company-name">
                     Freelancer
                  </div>
                  <div class="status">
                     Present3
                  </div>
                  <div class="work-summary">
                     Currently a developer architect
                  </div>
               </div>
               <div class="education">
                  <div class="company-name">
                     Fiver
                  </div>
                  <div class="status">
                     Present4
                  </div>
                  <div class="work-summary">
                     Currently a developer architect
                  </div>
               </div>

            </div>

      </section>
      <section>
         <div class="section-started">
            <h1 class="section-heading">Design Skills </h1>
            <div class="subtitle">
               Creative Ability
            </div>
            <br>
            <table>
               {{range $count, $service :=.Site.Data.designSkills.skills}}

               {{if eq (mod $count 2) 0}}
               <tr>
                  {{end}}
                  <td class="service-cell">
                     <div class="service-icon">
                        <i class={{$service.Icon}}></i>
                     </div>
                     <div class="service-text">
                        {{$service.Name}}
                     </div>
                     <div class="service-summary">
                        {{$service.Summary}}
                     </div>
                  </td>

                  {{if eq (mod (add $count 1) 2) 0}}
               </tr>
               {{end}}
               {{end}}

            </table>
      </section>

      <section>
         <div class="section-started">
            <h1 class="section-heading">Language Skills </h1>
            <div class="subtitle">
               Reading and Writing
            </div>
            <br>
            <table>
               {{range $count, $service :=.Site.Data.language.language}}

               {{if eq (mod $count 2) 0}}
               <tr>
                  {{end}}
                  <td class="service-cell">
                     <div class="service-icon">
                        <i class={{$service.Icon}}></i>
                     </div>
                     <div class="service-text">
                        {{$service.Name}}
                     </div>
                     <div class="service-summary">
                        {{$service.Summary}}
                     </div>
                  </td>

                  {{if eq (mod (add $count 1) 2) 0}}
               </tr>
               {{end}}
               {{end}}

            </table>
      </section>

      <section>
         <div class="section-started">
            <h1 class="section-heading">Coding Skills </h1>
            <div class="subtitle">
               Developing ON
            </div>
            <br>
            <table>
               {{range $count, $service :=.Site.Data.codingSkills.skill}}

               {{if eq (mod $count 2) 0}}
               <tr>
                  {{end}}
                  <td class="service-cell">
                     <div class="service-icon">
                        <i class={{$service.Icon}}></i>
                     </div>
                     <div class="service-text">
                        {{$service.Name}}
                     </div>
                     <div class="service-summary">
                        {{$service.Summary}}
                     </div>
                  </td>

                  {{if eq (mod (add $count 1) 2) 0}}
               </tr>
               {{end}}
               {{end}}

            </table>
      </section>
      <section>
         <div class="section-started">
            <h1 class="section-heading">Reviews </h1>
            <div class="subtitle">
               WHAT CUSTOMERS SAY
            </div>
            <br>
            <div class="button-container">
               <button class="scroll-button" onclick="plusDivs(-1, 'review')">❮</button>
               <button class="scroll-button" onclick="plusDivs(1,'review')">❯</button>
            </div>
            <br>
            <div class="review-container">
               {{range .Site.Data.reviews.reviews}}
               <div class="review">
                  <div class="company-name">
                     {{.Name}}
                  </div>
                  <div class="review-status">
                     {{.Position}}
                  </div>
                  <div class="review-container-summary">
                     <div class="work-summary review-quote">
                        {{.Review}}
                     </div>
                  </div>

               </div>
               {{end}}


            </div>

      </section>
   </div>
   <div class="socials">
      <a target="_blank" href="https://www.facebook.com/">
         <i class="icon fab fa-facebook-f"></i> </a> <a target="_blank" href="https://www.instagram.com/"> <i
            class="icon fab fa-instagram"></i> </a> <a target="_blank" href="https://dribbble.com/"> <i
            class="icon fab fa-dribbble"></i> </a>
   </div>
</div>

{{ end }}